body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

    background-image: url("background.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* OSCURECER FONDO */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* CONTENEDOR CENTRADO */
.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;

    background: rgba(15, 23, 42, 0.85);
    border-radius: 12px;
}

/* LOGO GRANDE */
.logo {
    display: block;
    margin: 0 auto 25px auto;
    width: 40%;
    max-width: 300px;
}

/* TITULOS */
h1 {
    margin-bottom: 10px;
}

/* BOTON */
.download-btn {
    display: inline-block;
    padding: 15px 25px;
    background: #3b82f6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 20px 0;
    transition: 0.3s;
}

.download-btn:hover {
    background: #2563eb;
}

/* NOMBRE ARCHIVO */
.file-name {
    font-size: 14px;
    opacity: 0.8;
}

/* CHANGELOG */
.changelog {
    margin-top: 40px;
    text-align: left;
}

.update {
    background: #1e293b;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}
