body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* CONTENEDOR CENTRADO */
.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
}

/* LOGO */
.logo {
    display: block;
    margin: 0 auto 25px auto;
    width: 40%;
    max-width: 300px;
}

/* BOTON */
.download-btn {
    display: inline-block;
    padding: 15px 25px;
    background: #3b82f6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 20px 0;
    transition: 0.3s;
}

.download-btn:hover {
    background: #2563eb;
}

/* CHANGELOG */
.changelog {
    margin-top: 40px;
    text-align: left;
}

.update {
    background: #1e293b;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}
